h1, small {
    margin: auto;
    text-align: center;
    width: 50%;
    font-family: bebas-neue-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #ffffff !important;
}

h4, h6 {
    font-family:bebas-neue-pro, sans-serif;
    color:#ffffff !important;
    padding: 5px
}

small {

    font-family: ColfaxAI, helvetica, sans-serif;
}


body {
    font-family: Cambria, sans-serif;
    font-size: 20px; /* Adjust the base font size for better readability */
    margin: 0; /* Remove default margin */
    overflow-x:hidden;
}

.header {
    border: 5px solid #373737;
    padding: 1px;
	color: #fff;
	height: 200px;
	background-color: #ffffff
}
    
img#logo {
    width: 510px; /* Adjust the width as needed */
    display: inline-block; /* Align the image as an inline-block element */
	margin-left: 5vh;
}


#chat-messages {
    position: relative;
    padding: 10px;
    height: 62vh;
    overflow-y: auto;
    background-color: #fff;
	 border-radius: 25px;
}

#user-input {

	background-color: #fff;
	font-size: 20px;
}

.form-control {
    color: #000000;
}

#submit_button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
}

#myFile {

    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#file-upload {
    background-color: #ffffff;
    color: #000000;
    position: relative;
    padding: 1px;
}

.use-img{
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}


.top .search i {
    font-size: 2rem;
    margin-right: 5px;
}

.btn-primary{
    background-color: #0f3854;
    --bs-btn-border-color: #000000;
    --bs-btn-bg: #002b37;
    --bs-btn-hover-bg: #0f3854;
    --bs-btn-hover-border-color: #002b37;
    --bs-btn-active-bg: #0f3854;

}

.main-content {

    background-color: #eee;
    margin: 0 auto;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    padding: 1rem;
}
:root {
    --bs-tertiary-bg: #fffffff;
}


#footer {
    color: #eeeeee;

}

/* Style for the loading spinner */
#loading {
    display: none;
}